h1 {
    position: fixed;
    top: 0px;
    left: 20px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    background-color: #eeadad;
    /* z-index: 99; */
}
p.example {
    margin-top: 100px;
    /* z-index: 1;
    position: absolute; */
}